*~
\#*\#
.\#*
db/
sitemaps/
sitemap1.txt
config.py
keys/
app/local_settings.py
*~
.#*.*
*.pyc
*.pyo
*.swp
*.swo
*.rar
*.bak
local_settings.py
push.sh
data.tar.gz
*.dmp
DATA/*
data/bad/
media/uploads/*
log.txt
tmp.txt
media/photos/
tmp/
build/
python-sdk/
media/uploads/
touch.file
vscrapee.db
coffin
src/*
cookies.lwp
media/*
static/spree.co/embed/
utils/vk/local_settings.py2
*.orig
vkporn
*.log
local_settings2.py
stat_service/settings.py
static/grappelli/
static/admin/
static/semyana.new/admin/
static/semyana.new/debug_toolbar/
youtuber/binlog.*
youtuber/sphinx.conf
_index/
youtuber/searchd.pid
data-logs/
data/pornstars
_index
node_modules/*
media/top/
static/*/admin/
