<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Записи{% endblock %}</title>
        <meta charset="UTF-8">		
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bulma.min.css" />	
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
        <link href="{{ STATIC_URL }}img/favicon.png?v=1" rel='shortcut icon'/>
        <link href="{{ STATIC_URL }}css/all.min.css" rel="stylesheet"> <!--load all styles -->
        <script defer src="{{ STATIC_URL }}js/scripts.js?v=1.2" ></script>
        
    </head>
    <body class="b" >

        {% block nav %}
            {% if user.is_authenticated %}
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="">
                            <img src="{{ STATIC_URL }}img/logo.png" alt="Notes" width="32">
                            Записи
                        </a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if profile %}
                                    <a class="button is-light" href="#">
                                        {{ profile }}
                                    </a>
                                {% endif %}
                                
                                <a class="button is-primary" href="{% url 'userapp:logout' %}" >
                                    <strong>Выход</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>

            {% endif %}
        {% endblock %}

        {% block full %}
            <div class="container" id="main-container" >
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        
        <footer class="footer">
            {% block footer %}
                <div class="columns">
                    <div class="column">
                        <a href="#">Описание системы</a>
                    </div>
                    <div class="column">
                    </div>
                    <div class="column">
                    </div>
                </div>
        {% endblock %}
    </footer>
  </body>
</html>
